{% extends 'base.html' %}
{% load static %}
{% block content %}
 	<!-- start End-->

    <!-- Description Two Colom-->
    <div class="section6">
       <div class="container">


          <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 module">
          	<div class="content-area">
               <div class="left-heading">
                 <span> <img class="wow fadeInDown" src="{% static 'images/eq-icon.png' %}" alt="icon-image"></span>
                 <h2 class="wow fadeInUp">Amazing dashboard</h2>
               </div>
               <p class="wow fadeInUp">Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standarddummy text ever since the when Lorem Ipsum is simply.
               </p>

                <div class="nomber-text wow fadeInUp">
                  <div class="nomber-text-row">
                     <div class="nomber-text-row-inner">
                       <span>1. Clean Code</span>
                       <p>Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standarddummy text</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>

                  <div class="nomber-text-row">
                     <div class="nomber-text-row-inner">
                       <span>2. Bootstrap 3 framwork</span>
                       <p>Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standarddummy text</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>

                  <div class="nomber-text-row">
                     <div class="nomber-text-row-inner">
                       <span>3. Creative user interface</span>
                       <p>Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standarddummy text</p>
                       <p></p>
                     </div>
                     <div class="clear"></div>
                  </div>

                </div>

               <a href="{% url 'login' %}" class="acc wow fadeInUp">Login</a>
			</div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 module">
          	<div class="img3">
                <img class="img-responsive wow fadeInRight" src="{% static 'images/dashboard.png' %}" alt="icon-image">
             </div>
          </div>
        </div>
      </div>
      </div>
  	<!-- Description End-->

  	<!-- Description Two Colom-->
      <div class="section3">
       <div class="container">
          <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-5 col-md-push-7">
             <div class="left-heading">
                <span> <img src="{% static 'images/pc.png' %}" alt="secton-image"></span>
                <h2>Beautyful features</h2>
                <p class="p">
                Lorem Ipsum is simply dummy text the printing and type
seing industry Lorem Ipsum has been standarddummy text ever since the when Lorem Ipsum is simply dummy text the printing and typeseing Lorem.
                </p>
                <div class="clear"> </div>
                <a href="{% url 'login' %}" class="acc">Login</a>

             </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-7 col-md-pull-5">
             <div class="two-colom-imag">
                <img class="img-responsive" src="{% static 'images/img1.png' %}" alt="img1">
             </div>
          </div>


        </div>
      </div>
      </div>
    <!-- Description End-->

	<!-- Description Two Colom-->
      <div class="section-two-colom">
       <div class="container">
          <div class="row">
			<div class="col-xs-12 col-sm-12 col-md-5 ">
             <div class="content-area-second">
             	<div class="left-heading">
                <span> <img src="{% static 'images/system-icon.png' %}" alt="system-icon"></span>
                <h2>Real time systems</h2>
                </div>
                <p class="p">
               Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standarddummy text ever since ting and typeseing <strong class="highlited-text">Hightlight Text </strong>industry Lorem Ipsum has been standarddummy text ever since the when. Lorem Ipsum is simply dummy text the printing and typeseing.Lorem Ipsum has been standarddummy text ever since the when an Lorem.
				<div class="clear"> </div>

                </p>
                <a href="{% url 'login' %}" class="acc">Login</a>
             </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-7 ">
             <div class="two-colom-image-right wow fadeInRight">
                <img class="img-responsive" src="{% static 'images/system-img.png' %}" alt="img1">
             </div>
		</div>

        </div>
      </div>
      </div>
    <!-- Description End-->
{% endblock %}