<div id="mobile">
  <div class="intro">
    <hgroup>
      <h1>Change Plan</h1>
      <h2>808-323-4563: Plan Name</h2>
    </hgroup>
    <p>Use the table below to help you select a new plan. Additional plan features can also be configured.</p>
  </div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th><div class="heading">Current
        <span class="icons">&or;</span></div>
          <ul>
            <li>Plan 1</li>
            <li>Plan 2</li>
            <li>Plan 3</li>
            <li>Plan 4</li>
          </ul>
        </th>
        <th><div class="heading">Plan 1
          <span class="icons">&or;</span></div>
          <ul>
            <li>Current</li>
            <li>Plan 2</li>
            <li>Plan 3</li>
            <li>Plan 4</li>
          </ul>
        </th>
      </tr>
    </thead>
    <tbody id="plan">
      <tr>
        <td>Data</td>
        <td class="current">500 MB</td>
        <td>2.5 GB</td>
        <td class="hidden">Unlimited</td>
      </tr>
      <tr>
        <td>Mobile Hotspot Capable - $10</td>
        <td class="current"><span class="icons">&mdash;</span></td>
        <td><span class="icons">&#10003;</span></td>
        <td class="hidden"><span class="icons">&#x2713;</span></td>
      </tr>
      <tr class="sub">
        <td></td>
        <td class="current">$50</td>
        <td>$60</td>
        <td class="hidden">$70</td>
      </tr>
    </tbody>
    <tbody id="feature">
      <tr class="feat">
        <td>International Calling<br>$20</td>
        <td class="current"><span class="icons">&mdash;</span></td>
        <td><label for="cb1"><input type="checkbox" id="cb1" name="ic1" /></label></td>
        <td class="hidden"><input type="checkbox"></td>
      </tr>
      <tr class="desc">
        <td colspan="3">
          Keep in touch with family and friends abroad with T-Mobile’s Unlimited International Talk and Text. No limits, no overages
        </td>
      </tr>
      <tr class="feat">
        <td>Protection<br>$5</td>
        <td class="current"><span class="icons">&#x2713;</span></td>
        <td><label for="cb2"><input type="checkbox" id="cb2" name="ic2" /></label></td>
        <td class="hidden"><input type="checkbox"></td>
      </tr>
      <tr class="desc">
        <td colspan="3">
          Insure your phone from loss, theft, damage or malfunctions with our range of affordable plans.
        </td>
      </tr>
      <tr class="feat">
        <td>Name ID<br>$10</td>
        <td class="current"><span class="icons">&#x2713;</span></td>
        <td><label for="cb3"><input type="checkbox" id="cb3" name="cb3" /></label></td>
        <td class="hidden"><input type="checkbox"></td>
      </tr>
      <tr class="desc">
        <td colspan="3">
          Get the names and numbers of anyone who calls, even if they aren’t in your address book.
        </td>
      </tr>
      <tr class="feat">
        <td>Option Four<br>$15</td>
        <td class="current"><span class="icons">&#x2713;</span></td>
        <td><span class="icons">&mdash;</span></td>
        <td class="hidden"><input type="checkbox"></td>
      </tr>
      <tr class="desc">
        <td colspan="3">
          Get the names and numbers of anyone who calls, even if they aren’t in your address book.
        </td>
      </tr>
      <tr class="feat">
        <td>Option Five<br>$10</td>
        <td class="current">Not Selected</td>
        <td><span class="icons">&mdash;</span></td>
        <td class="hidden"><input type="checkbox"></td>
      </tr>
      <tr class="desc">
        <td colspan="3">
          Get the names and numbers of anyone who calls, even if they aren’t in your address book.
        </td>
      </tr>
      <tr class="total">
        <td>Calculated Total</td>
        <td class="current">$85/<small>mo</small></td>
        <td>$60/<small>mo</small></td>
        <td class="hidden">$70/<small>mo</small></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td class="current">Current</td>
        <td><a href="#" class="button">Select</a></td>
        <td class="hidden"><a href="#" class="button">Select</a></td>
      </tr>
    <tfoot>
  </table>
</div>